<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Administrador</title>
  <link rel="Stylesheet" href="/styles/admin.css">
  <link rel="icon" href="/front/Mini.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
          <li><a href="/load_item">Cargar prenda</a></li>
          <li><a href="/search_item/MODIFICAR"  >Modificar prenda</a></li>
          <li><a href="/search_item/ELIMINAR"  >Eliminar prenda</a></li>
          <li><a href="/"  >Salir</a></li>
        </ul>
      </div>
    </div>
  </header>

  
  <div class="container head">
    <div class="tittle">
      <img class="image" src="/front/Logo.png" alt="logo">
    </div>
  </div>
 


  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="/scripts/start.js"></script>
</body>
</html>
