<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Administrador</title>
  <link rel="Stylesheet" href="/styles/delete_item.css">
  <link rel="icon" href="/front/Mini.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
           <li><a href="/load_item"  >Cargar prenda</a></li>
          <li><a href="/modifie_item"  >Modificar prenda</a></li>
          <li><a href="/search_item"  >Eliminar prenda</a></li>
          <li><a href="/"  >Salir</a></li>
        </ul>
      </div>
    </div>
  </header>

  
  <main class="main-content">
    <div class="container carga">
      <h1 class="carga-tittle">ELIMINAR PRODUCTO</h1>
      <h3> Su producto: </h3>
      <p>Nombre: <%= @item.name %> <br> Precio: $<%= @item.price %> <br>Descripcion: <%= @item.description %> </p>
      <section class="carga-item">
        <form action="/delete_item" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Borrar</button>
        </form>
      </section>
    </div>
  </main>
 


  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="/scripts/start.js"></script>
</body>
</html>
