<!DOCTYPE html>
<html>
  <head>
    <title>Store - Eco-Tree</title>
    <link rel="stylesheet" href="/styles/deportivo.css" />
    <link rel="icon" href="/front/miniatura.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    
   <header>
      <a href="/menu" class="volver">Volver</a>
  </header>

  <p> SOY LA TIENDA DEPORTIVA</p>
  </body>
</html>