<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Administrador</title>
  <link rel="Stylesheet" href="/styles/eliminar_item.css">
  <link rel="icon" href="/front/Mini.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
          <li><a href="/search_item/eliminar"  >Volver</a></li>
        </ul>
      </div>
    </div>
  </header>

  
  <main class="main-content">
    <div class="container delete">
      <h1 class="delete-tittle">ELIMINAR PRODUCTO</h1>
      <p>ID: <%= @item.id %> <br> Nombre: <%= @item.name %> <br> Precio: $<%= @item.price %> <br>Descripcion: <%= @item.description %> </p>
      <form action="/eliminar_item" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn">Eliminar</button>
      </form>
    </div>
  </main>
 


  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>
</html>
