<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Informacion</title>
  <link rel="Stylesheet" href="/styles/information.css">
  <link rel="icon" href="/front/Mini.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <div class="container-head">
      <div class="container head">
        <div class="tittle">
          <a href="/">
            <img class="image" src="/front/Logo.png" alt="logo">
          </a>
          
        </div>

        <div class="admin">
          <h3> Eres administrador? </h3><a href="/login">Ingresa aqui</a>
        </div>
      </div>
    </div>

    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/information">Informacion</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="info-general">
    <div class="container information">
      <h1 class="tittle-info">INFORMACION GENERAL</h1>
      <ul class="subtittle-info">
        <li>
          <h3 class="subtittle-info">Sobre talles</h3>
          <div class="text-info">
            <h3>  
              Tenemos todo tipos de talles, tanto para lenceria como para ropa deportiva 
            </h3>
            <p>
              La ropa deportiva se puede comprar antes de adquirirla. Si la compraste y no te quedo, 
              tiene devolucion solo si esta en el estado en el que se lo llevo y con la etiqueta correspondiente.
              <span>De lo contrario no tiene devolucion</span> <br>
              La lenceria se prueba con ropa interior de bajo y solo tiene devolucion si esta en condiciones
            </p>
          </div>
        </li>

      </ul>
    </div>    
  </div>

  <footer class="footer">
    <div class="container conteiner-footer">
      <p class="footer-info">Informacion Importante</p>
      <p>
        Esta página sirve como vitrina y no se realizan transacciones comerciales ni solicitudes de información personal a través de este medio.        Silbia Torello no se responsabiliza por solicitudes de datos personales o compras que se realicen en páginas con un nombre similar al de este sitio.
      </p>
      <span>
        Ante cualquier duda comunicarse via WhatsApp o Instagram
      </span>      
    </div>
  </footer>

  <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"></script>
  <script src="/scripts/start.js"></script>
</body>
</html>
