<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="Stylesheet" href="/styles/menu.css">
  <link rel="icon" href="/front/miniatura.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">
    <a href="/" class="volver"> Salir </a>
    <p class="logo">
      Hola <a href="profile" class="name" title="Modifica tu perfil aquí"><%= @user.username %></a>! 
    </p>
  </header>

  <section class="card" style="--i:url(/front/sport.jpeg)">
    <div class="content">
      <h2 class="title-card"> Ropa deportiva </h2>
      <a class="title-link" href="/deportivo" > Ingresar </a>
    </div>
  </section>

  <section class="card" style="--i:url(/front/lencery.jpeg)">
    <div class="content">
      <h2 class="title-card"> Lenceria </h2>
      <a class="title-link" href="/lenceria" > Ingresar </a>
    </div>
  </section>  
 
</body>
</html>