<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> S - Torello</title>
  <link rel="Stylesheet" href="/styles/start.css">
  <link rel="icon" href="/front/Mini.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <div class="container-head">
      <div class="container head">
        <div class="tittle">
          <a href="/">
            <img class="image" src="/front/Logo.png" alt="logo">
          </a>
          
        </div>

        <div class="admin">
          <h3> Eres administrador? </h3><a href="/login">Ingresa aqui</a>
        </div>
      </div>
    </div>

    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Metodos de pago</a></li>
          <li><a href="#">Informacion</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="banner">
    <div class="content-banner">
      <p>LENCERIA</p>
      <h2>Para tus mejores momentos</h2>
    </div>
  </section>

  <main class="main-content">
    <section class="container container-features">
      <div class="card-feature">
        <i class="fa-brands fa-instagram"></i>
        <a href="https://www.instagram.com/silbiatorello/?utm_source=ig_web_button_share_sheet&igsh=OGQ5ZDc2ODk2ZA%3D%3D">
          <p>Instagram</p>
        </a>
      </div>
      <div class="card-feature">
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com/silbialenceria?mibextid=ZbWKwL">
          <p>Facebook</p>
        </a>
      </div>
      <div class="card-feature">
        <i class="fa-brands fa-whatsapp"></i> 
        <a href="https://wa.me/543585043029">
          <p>WhatsApp</p>
        </a>
      </div>
    </section>

    <section class="container categories">
      <h1 class="heading">CATEGORIAS</h1>
      <div class="container-categories">
        <div class="card-category category-sport">
          <p>ROPA DEPORTIVA</p>
          <a href="/deportivo">Ver catalogo</a>
        </div>
        <div class="card-category category-lencery">
          <p>LENCERIA</p>
          <a href="/lenceria">Ver catalogo</a>
        </div>

      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container conteiner-footer">
      <p class="footer-info">Informacion Importante</p>
      <p>
        Esta página sirve como vitrina y no se realizan transacciones comerciales ni solicitudes de información personal a través de este medio.        Silbia Torello no se responsabiliza por solicitudes de datos personales o compras que se realicen en páginas con un nombre similar al de este sitio.
      </p>
      <span>
        Ante cualquier duda comunicarse via WhatsApp o Instagram
      </span>      
    </div>
  </footer>

  <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
</body>
</html>
