/*@import url(https://fonts.google.com/specimen/Poppins?preview.text=ECO
-TREE&preview.text_type=custom);*/

:root{
  --primary-color: #fd219e;
  --link-color: #ff0090;
  --ligth-color: #fa6abc;
  --details-color: #ee1485;
  --background-color : #fef1f9;
  --dark-color: #580029;
}

html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 170rem;
  margin: 0 auto;
}

/* --------- MENU CENTRAL ---------- */
.container-head{
  background-color: var(--background-color);
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 0;
  height: 50rem;
}

.tittle{
  position: relative;
}


.image {
  width: 60rem;
}

/* ---------- NAVBAR ----------- */

.container-navbar{
  background-color: var(--ligth-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 1rem 0;
}

.menu{
  display: flex;
  gap: 2rem;
}

.menu li{
  list-style: none;
}

.menu a{
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--background-color);
  font-weight: 400;
  padding: 0 2.3rem;
  position: relative;
}

.menu a:hover{
  color: #000000;
}






