*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/front/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}


.logo{
  font-size: 2.7em;
  color: #ffffff;
  margin: 40px -5px;
}

.volver {  
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #ff0090;
  border-radius: 10px;
  padding: 15px 30px;
  margin:  40px -5px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.volver:hover {
  box-shadow: 0 0 10px #ff0090;
  background-color: #fa6abc;
}

.name{
  color: #fa6abc;
  transition: 0.2s;
}

.name:hover{
  color: #ff0090;
}

.card{
  width: 500px;
  height: 600px;
  margin: 30px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow:0 0 20px #ff0090bb;
  transition: 0.2s;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0000008d;
  opacity: 0;
  transition: 0.5s;
}

.title-card{
  font-size: 2.6em;
  color: #ff0090;
}

.title-link{
  font-size: 2em;
  color: #fa6abc;
}

.card:hover {
  width: 520px;
  height: 620px;
  border: 2px solid #ff0090; 
  box-shadow:0 0 50px #ff0090af;
}
.card:hover .content{
  opacity: 1;
}