* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/front/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.volver {  
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #ff0090;
  border-radius: 10px;
  padding: 15px 30px;
  margin:  40px -5px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.volver:hover {
  box-shadow: 0 0 10px #ff0090;
  background-color: #fa6abc;
}


.settings {
  position: relative;
  text-decoration: none;
  text-align: center;
  align-items: center;
  line-height: 1.8;
  width: 900px;
  height: 600px;
  border: 2px solid #fff;
  backdrop-filter: blur(12px);
  background-color: #1629382a;
  box-shadow: 0 0 15px rgba(255, 170, 0, 0.608);
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
  padding-top: 30px;
}

.tle{
  position: relative;
  bottom: 300px;
  left: 580px;
  color: #fff;
  font-size: 60px;
  font-weight: 900px;
  text-shadow:  0 0 15px #000000;
  padding-bottom: 70px;
}

.files{
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-bottom: 90px;
}

.user {
  margin-top: 100px;
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center; 
  padding: 10px;
}

.birthdate {
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.email {
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.btn {
  position: relative;
  text-decoration: none;
  outline: none;
  width: 300px;
  height: 60px;
  top: 300px;
  border: 2px white;
  background: #fff;
  border-radius: 6px;
  color: #162938;
  font-size: 30px;
  font-weight: 800;
  transition: .3s;
  align-items: center;
  text-align: center;
  z-index: 100;
  right: 580px;
  padding: 8px;
}

.btn:hover {
  border: 2px solid rgba(2, 156, 33, 0.739);
  box-shadow: 0 0 30px rgba(0, 228, 141, 0.5);
  font-size: 31px;
  padding: 5px;
  width: 302px;  
}



