/*@import url(https://fonts.google.com/specimen/Poppins?preview.text=ECO
-TREE&preview.text_type=custom);*/

:root{
  --primary-color: #fd219e;
  --link-color: #ff0090;
  --ligth-color: #fa6abc;
  --details-color: #ee1485;
  --background-color : #fef1f9;
  --dark-color: #580029;
}

html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 170rem;
  margin: 0 auto;
}

/* --------- HEADER ---------- */
.container-head{
  background-color: var(--background-color);
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
}

.tittle{
  position: relative;
  left: 36%;
}

.admin{
  display: flex;
  flex-direction: row;
}

.admin a{
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.2s;
}

.admin a:hover{
  color: var(--link-color);
}

.image {
  width: 350px;
}

/* ---------- NAVBAR ----------- */

.container-navbar{
  background-color: var(--ligth-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 1rem 0;
}

.menu{
  display: flex;
  gap: 2rem;
}

.menu li{
  list-style: none;
}

.menu a{
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--dark-color);
  font-weight: 400;
  padding: 0 2.3rem;
  position: relative;
}

.menu a:hover{
  color: var(--background-color);
}

/* ------- BANNER --------- */

.banner {
  background-image: linear-gradient(100deg, #000000c8, #00000000), url('/front/banner1.jpeg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0 50%;
  transition: background-image 0.5s ease-in-out;
  height: 60rem;
}

.content-banner{
  max-width: 40rem;
  margin: 0 10rem;
  padding: 25rem 0;
}

.content-banner p{
  color: var(--ligth-color);
  font-size: 3.2rem;
  transition: opacity 0.5s ease-in-out;
  font-weight: 200;
}

.content-banner h2{
  color: var(--details-color);
  font-size: 3.7rem;
}

/* -------- MAIN ---------- */
.heading{
  text-align: center;
  font-weight: 300;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.main-content{
  background-color: var(--background-color);
}

.container-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--ligth-color);
  border-radius: 1rem;
  padding: 1.5rem 6rem;
}

.card-feature i{
  font-size: 3rem;
  gap: 2rem;
}

.card-feature a{
  font-size: 2rem;
  color: var(--dark-color);
  text-decoration: none;
}

/* ----------- CATEGORIES ---------- */

.container-categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 3rem;
  padding-bottom: 6rem;

}

.card-category{
  height: 35rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem;
}

.category-sport{
  background-image: url(/front/sport.jpeg);
  background-size: cover;
  filter: blur(0.6px);
  transition: 1s;
}

.category-sport:hover{
  background-image: linear-gradient(120deg, #00000080, #00000000), url(/front/sport.jpeg);
  background-size: cover;
  filter: blur(0);
}

.category-lencery{
  background-image: url(/front/lencery.jpeg);
  background-size: cover;
  background-position: 0 50%;
  filter: blur(0.6px);
  transition: 0.3s;
}

.category-lencery:hover{
  background-image: linear-gradient(120deg, #00000080, #00000000), url(/front/lencery.jpeg);
  background-size: cover;
  filter: blur(0);
}

.card-category p {
  color: var(--background-color);
  font-size: 3.3rem;
  transition: 0.2s;
  text-transform: capitalize;
}

.card-category p:hover {
  color: var(--ligth-color);
  font-size: 3.4rem;
  opacity: 1;
}

.card-category a {
  color: var(--background-color);
  text-decoration: none;
  font-size: 3.3rem;
  transition: 0.2s;
}

.card-category a:hover {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 3.3rem;
  transition: 0.2s;
}

/* ---------- Footer ----------- */
.footer{
  background-color: var(--ligth-color);
}

.conteiner-footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.footer-info{
  font-size: 1.8rem;
  font-weight: 200;
}



